<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chitter</title>
    
    <link href="/static/stylesheet.css" rel="stylesheet">
    <meta charset="UTF-8">
</head>

<body>
    <div class="header">
        <img alt="Chitter Logo" src="/static/chitter_logo_white_large.png" width="317" height="117" />
    </div>
   
    <div class="content">


<!-- If Logged in! -->
    {% if user != None%}
        <p style="margin-bottom:0;color:#df3f3e; font-size:48px"><strong>Welcome {{user.name}}!</strong></span></span></p>
        <p style="margin : 0; padding-top:0;">Logged in as: <span style="color:#df3f3e">{{user.username}}</span> <span style="color:#999999"><a href="/logout">(Log Out)</a></span></strong></p>
        <p><strong><span style="color:#df3f3e">Welcome to Chitter - The conversational nest of the internet</span></strong></p>
<!-- This is the cheep Box -->
    <form action="/newcheep" method="post">
    
    <textarea  id='content' name="content" placeholder="What's on your Mind...." cols="10" rows="3"></textarea>
    <br>
    <br>
    <input type="submit" value="Cheep">
    </form>
</ul>



<!-- If Not Logged in  -->
    {% else %}
    <p><span style="color:#df3f3e"><span style="font-size:48px"><strong>Welcome to Chitter!</strong></span></span></p>
    <b><p style="margin-left:0; margin-right:0">You need to <a href="/newuser">Register to share your Cheeps</a></b></p>
    <p style="margin-left:0; margin-right:0">Already Registered? <a href="/login"><b>Sign in</b></a></p>
    {% endif %}
    <!-- Information regardless of Log-in status -->
        <p><strong><span style="color:#df3f3e">What's the rest of the nest singing today ...</span></strong></p>
        <!-- Speech Bubbles Go Here -->
        {% for cheep in cheeps %}
            {% set row_class = 'bubble left' if loop.index is even else 'bubble right' %}
                <li class="{{ row_class }}">
                <div style="text-align: {{ 'left' if loop.index is even else 'right' }}">
                <b> {{ cheep.content }} </b>
                <br>
                <i>- {{ cheep.username }}<span style="color:#ddc9c9"><br>{{ cheep.time_posted.strftime('%H:%M on %d-%m-%Y ') }} </span></i>
            </li>
            <br>
        {% endfor %}
    </div>
</body>
</html>

