<!DOCTYPE html>
<html lang="en">
<head>
<title>Login</title>
<link href="/static/stylesheet.css" rel="stylesheet">
<meta charset="UTF-8">
</head>
<div class="header">
<img alt="chitter Logo" src="/static/chitter_logo_white_large.png" width="317" height="117"/>
</div>

<body>

<div class="content">

  
  <form action="/login" method="post">
  <p>
  <label for="username">Username</label><br>
  <input type="text" name="username" id ='username'>
  </p>
  <p>
  <label for="password">Password</label><br>
  <input type="password" name="password" id ='password'>
  </p>
  <input type="submit" value="Log in">

  </form>
  <br>
  <a href="/"><input type="button" value="back"></a>
</div>







</body>
</html>
